@charset "UTF-8";

#map {width: 337px;}
#posterArea, #calArea, #mapArea {padding: 0px;}

.pageMenu {
	font-size: 29px;
	font-weight: bold;
	width: 1000px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

.section {
	border-bottom: 1.6px #6697f2 solid;
	padding-bottom: 10px;
	margin: 10px 0px 10px 0px;
}

.formSection {
	border-bottom: 1.5px #f0f0f0 solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.formMargin {
	margin-bottom: 10px;	
}

.formZipcode {
	width: 130px;
	margin-bottom: 10px;
}

.position {
	float: right;
	width: 120px;
	margin: 0px 0px 10px 0px;
}

.form-text {
	font-size: 15px;
	text-align: left;
	padding: 6px 15px;
}

.cateMenu {
	font-size: 19px;
	margin: 0px 0px 8px 0px;
}