@charset "UTF-8";

/**********************************************/
/* info */
/**********************************************/

.fixwidth {
	width: 1000px;
	padding: 0px;
}

#mainPoster {width: 250px;}
#cal {width: 253px;}


#infoPic, #mapInfo {
	padding: 0px 0px 20px 0px;
}

#infoPic img{
	width: 700px;
}

#infoTable {
	font-size: 16px;
}

#infoTable tr {
	height: 50px;
}

#infoTable tr>th {
	font-size: 18px;
	width: 150px;
}

#priceTag {
	vertical-align: top;
	padding: 15px 0px 0px 0px;	
}

#priceTable tr>td {
	height: 50px;
	width: 80px;
}

#priceTable tr {
	font-size: 15px;
	text-align: left;
}

.infoTable {
	text-align: center;
}

.infoTable th {
	font-size: 15px;
	text-align: center;
}

.imgArea {
	width: 237px;
}

.imgArea .poster {
	width: 237px;
}

.imgArea .rank-poster {
	width: 158px;
}

.imgArea .region-poster {
	width: 207px;
}

.rankingTable {
	margin-bottom: 20px;
}

.rankingTable th {
	font-size: 25px;
	text-align: left;
	vertical-align: top;
	width: 100px;
}

.rankingTable .nextBtn {
	width: 50px;
}


.floatLeft {
	float: left;
}

.floatRight {
	margin: 0px;
	float: right;
}

.regionList {
	font-size: 15px;
	vertical-align: bottom;
	margin: 14px 10px 0px 0px;
}

.productInfo {
	box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	width: 237px;
}

.productInfo .title {
	font-size: 14px;
}

.list-width {
	width: 237px;
	margin: 0px 15px 0px 0px;
}
.last {
	margin: 0px 0px 2px 0px;
}
