@charset "UTF-8";

.imgArea .theater-logo {
	width: 200px;
/* 	border: 1.5px #6697f2 solid; */
	margin: 2px 2px 2px 0px;
}

#theater-map {
	width: 480px;
} 

#logo {
	width: 200px;
}

.infoArea {
	font-size: 14px;
	padding: 15px;
}

.poster {
	width: 200px;
}

#btnPostion {
	text-align: center;
	vertical-align: center;
}