@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/****************************************************************/
/* 초기화 관련 ***************************************************/
/****************************************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body	{font-family: 'Noto Sans KR', sans-serif; font-size:12px; color: #333; background-color: #fff;}

/* 레이아웃 */
#header {padding: 0px 0px 0px 0px; background-color: #FFFFFF;}
#footer {height: 50px; background-color: #DDDDDD;}

/* 해더(header: 로고, 로그인관련 버튼) */
#header	h1 {font-size: 36px; font-weight: bold; line-height: 1.1;}
#header	h1>a {float: left; margin: 10px 0px 0px 0px; font-size: 35px; color:#79B30B; }
#header ul {float: left;  }
#header ul>li {list-style:none; padding-left:0px; /* 로그인 리스트 블릿마크 제거 */
				float: left; margin: 25px 0px 0px 10px;}
#header ul>li .btn_s {padding: 4px 6px 4px 6px; border: 1px solid #bfbfbf; border-radius: 2px; font-size: 10px; }

/* 검색창 (로고 옆 네비바 위) */
#serachBar{
	padding-top:12px;
}

#serachBar input{
	width:300px;
	height:40px;
	margin-left:50px;
}
#serachBar button{
	height:40px;
}

#ticketJavaLogo h1 {
	margin-top:0px;
	margin-bottom:15px;
}

/* 네비(nav: 메인메뉴) */
#navbar  ul{
	height:45px;
	padding-top:14px;
}

#navbar  ul>li {float: center; text-align:left; justify-content:flex; align-items:center; 
				padding: 0px 10px 0px 20px; margin: 10px 30px 0px 30px; font-size: 19px; font-weight: bold;	display:inline;}
#navbar {text-align:center}

.nav-item {
    padding: 15px;
    cursor: pointer; /*마우스 커서를 pointer 모양으로 함*/
}
.nav-item a { /*nav-item 클래스 아래의 a 요소를 선택함*/
    text-align: center;
    text-decoration: none; /*밑줄 없앰*/
    color: white;
}
.nav-item a:hover{
	color:white;
	text-decoration:none;
}

/* 푸터(footer) */
#footer {line-height: 50px; margin: 30px 0px 0px 0px; }

/****************** 공통 ************************/
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}






